body{
  margin: 0px;
  text-align: center;
  line-height: 60px;
  background: #f0f0ed;
}

.header{
  margin-top: 0px;
  height: 80px;
  width: auto;
  background: #329ba8;
  border: 2px solid #329ba8;
}

.logo{
  color: white;
  font-size: 40px;
  font-family: "Avenir Next";
  float: left;
  margin-top: 0px;
  margin-left: 40px;
  width: 280px;
  padding: 10px;
  margin-top: 5px;
}

.menuitems{
  font-family: monospace;
  font-size: 15px;
  color: black;
  margin-top: -17px;
  list-style: none;
  float: left;
  height: 83px;
  width: 180px;
  background-position: 100% 0;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    white 0%,
    white 50%,
    #329ba8 50%,
    #329ba8 100%
  );
  transition: background-position ease 0.4s;
}

.menuitems:hover{
  background-position: 0 0;
}

.menulinks{
  color: white;
  text-decoration: none;
}

.main{
  height: auto;
  font-size: 18px;
  font-family: "Times new roman";
  width: 900px;
  padding: 70px;
  margin: auto;
  margin-top: 70px;
  background: white;
  border-radius: 10px;
  border-top: 3px solid black;
}

.headingtitle{
  color: black;
  background: white;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 3px solid black;
  margin-top: 0px;
}

.title{
  font-size: 45px;
  background: linear-gradient(transparent 40%, lightblue 90%);
}

.form{
  border: 2px solid black;padding: 30px;
}

.inputform{
  font-size: 15px;
  width: 700px;
  height: 30px;
  border: 2px solid black;
}

.inputformtag{
  font-size: 17px;
  text-align: left;
  margin-left: 65px;
  padding-left: 15px;
  border-left: 5px solid black;
}

textarea{
  font-size: 17px;
  width: 700px;
  height: 100px;
  border: 2px solid black;
}

.send{
  width: 100px;
  height: 50px;
  border: 2px solid black;
}

.footer{
  height: 220px;
  width: auto;
  background: black;
}

.blogname2{
  text-align: center;
  color: white;
  font-size: 45px;
  padding-top: 50px;
}
